<h1 style="color: #d49625;margin: 1rem 0 2rem 4rem;font-weight: bold;">Contrat</h1>

<h2 style="color: #333333;margin: 1rem 0 2rem 6rem;">Détail du contrat</h2>

<div class="card shadow mb-4" style="width: 97.5%; margin: auto;">

    <div class="mx-4 my-4" >
        <h3 class="card-title" >
            Contrat de  {{contrats.idContrat}}
        </h3>
        <!--tel1-->
        <div style="float: left;" class="mx-5" >
            <div >
                <h5 class="card-subtitle" >Bien Immobilier :
                    
                </h5>
                
            </div>

        </div>
        <div style="float: left;" class="mx-5">
            <!--adresse-->
            <div>
                <h5 class="card-subtitle" > Info contrat : </h5>
                {{contrats.prixAcquisition}}, 
                {{contrats.dateAcquisition | date : 'd MMMM y' | lowercase }} <br>

            </div>
        </div>
    </div>
