<h1 style="color: #d49625;margin: 1rem 0 2rem 4rem;font-weight: bold;">Client</h1>

<h2 style="color: #333333;margin: 1rem 0 2rem 6rem; display: inline-flex;">Liste des clients</h2>

<button class="btn btn-primary float-right my-4 mx-5" (click)="newClient()">
  Ajouter Client
</button>

<div class="card shadow mb-4 px-3 py-3" style="width: 95%; margin: auto;">
  <div class="card-body">
    
      <table  datatable class="row-border hover" style="margin: auto;">
        <thead class="thead-blue">


          <tr style="background-color: #df4937;color:  #333333;">
            <th scope="col">Nom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Adresse</th>
          </tr>
        </thead>

        <!-- données de la table -->
        <tbody>
          <tr *ngFor="let clt of clients">
            <td><a (click)="selectClient(clt.idClient)">{{clt.nom}}</a></td> 
            <td>{{clt.telephone}}</td>
            <td> {{clt.adresse.numero}}, {{clt.adresse.rue}} <br>
              {{clt.adresse.codePostal}} {{clt.adresse.localite}} {{clt.adresse.pays}}
            </td> 
            
          </tr>
        </tbody>
        
      </table>
  </div>
</div>

<footer class="container">
  <p>&copy; Company nom Agence 2020 </p>
</footer>