<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{bienAchat.idBien ? "Modifier" : "Ajouter"}} un bien immobilier</h3>
        </div>
        <div>
            <button type="button" class="btn btn-success" (click)="changeOffre()">
                Type d'offre  ==> <span style="font-weight: bold; font-size: large;">{{typeDeBien ? "A vendre" : "A louer"}}</span></button>
        </div>
        
        <!-- //////////// FORMULAIRE BIEN A VENDRE //////////////-->
        <div class="container" style="padding-top: 15px; padding-bottom: 15px;" *ngIf="typeDeBien">
            <form (ngSubmit)="saveOrUpdateBien()" name="formBienAchat">
                <div class="panel-body">

                    <div class="form-group">
                        <label for="pLibelle">Titre du bien immobilier</label>
                        <input type="text" id="pLibelle" class="form-control" [(ngModel)]="bienAchat.libelle" name="libelle"/>
                    </div>

                    <div class="form-group">
                        <input type="hidden" id="pStatut" class="form-control" [(ngModel)]="bienAchat.statut" value="A vendre" readonly="true" name="statut"/>
                    </div>
                    
                    <div class="form-group">
                        <label for="pDateSoumission"> Date de mise de soummission</label>
                        <input type="date" id="pDateSoumission" class="form-control" [(ngModel)]="bienAchat.dateSoumission" name="dateMiseADispo"/>
                    </div>

                    <div class="form-group">
                        <label for="pDateMiseADispo"> Date de mise à disposition</label>
                        <input type="date" id="pDateMiseADispo" class="form-control" [(ngModel)]="bienAchat.dateMiseADispo" name="dateMiseADispo"/>
                    </div>

                    <div class="form-group">
                        <label for="pRevenuCadastral">Revenu cadastral (€)</label>
                        <input type="text" id="pRevenuCadastral" class="form-control" [(ngModel)]="bienAchat.revenuCadastral" name="revenuCadastral"/>
                    </div>

                    <div class="form-group">
                        <label for="pDescriptif">Descriptif du bien immobilier :</label>
                        <textarea class="form-control" id="pDescriptif" rows="3" [(ngModel)]="bienAchat.descriptif" name="descriptif"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="pClasseStandart">Veuillez choisir une classe standart => </label>
                        <select name="classe" [(ngModel)]="bienAchat.classe">
                            <option  id="pClasseStandart" *ngFor="let classe of listeClasse" [value]="classe">Type : {{classe.typeBiens}} || PrixMax : {{classe.prixMax}} € || Smin : {{classe.superficieMin}} m²</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="pProprietaire">Propriétaire => </label>
                        <select [(ngModel)]="bienAchat.proprietaire" name="proprietaire">
                            <option *ngFor="let prop of listeProprietaire" id="pProprietaire" value="{{prop}}" >{{prop.nom}}</option>
                        </select>
                    </div>
                    <div style="border: 1px solid grey; padding:10px 10px 10px 10px; border-radius: 5px; ">
                        <h3>Adresse du bien</h3>
                        <div class="row">
                            <div class="form-group col-sm-2"> 
                                <label for="pNumero">Numero</label>
                                <input type="text" id="pNumero" class="form-control" [(ngModel)]="adresse.numero" name="numero"/>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="pRue">Rue</label>
                                <input type="text" id="pRue" class="form-control" [(ngModel)]="adresse.rue" name="rue"/>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="pCP">Code Postal</label>
                                <input type="text" id="pCP" class="form-control" [(ngModel)]="adresse.codePostal" name="codePostal"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="pLocalite">Ville</label>
                                <input type="text" id="pCP" class="form-control" [(ngModel)]="adresse.ville" name="ville"/>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="pPays">Pays</label>
                                <input type="text" id="pPays" class="form-control" [(ngModel)]="adresse.pays" name="pays"/>
                            </div>
                        </div> 
                    </div>
               
                        <div class="form-group">
                            <label for="pPrix">Prix demander (€)</label>
                            <input type="text" id="pPrix" class="form-control" [(ngModel)]="bienAchat.prix" name="prix"/>
                        </div>

                        <div class="form-group">
                            <label for="pEtat">Etat</label>
                            <input type="text" id="pEtat" class="form-control" [(ngModel)]="bienAchat.etat" name="etat"/>
                        </div>
                </div>
               
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">{{bienAchat.idBien ? "Modifier" : "Ajouter"}}</button>
                </div>
        </form>
        </div>
    </div>  
</div>



