<h1 style="color: #d49625;margin: 1rem 0 2rem 4rem;font-weight: bold;">Client</h1>

<h2 style="color: #333333;margin: 1rem 0 2rem 6rem;">Fiche d'un client</h2>

<div class="card shadow mb-4" style="width: 97.5%; margin: auto;">

    <div class="mx-4 my-4">
        <h3 class="card-title">
            {{client.nom}}
        </h3>
        <!--tel1-->
        <div style="float: left;" class="mx-5">
            <div>
                <h5 class="card-subtitle">Téléphone :</h5>
                {{client.telephone}}
            </div>
            
        </div>
        <div style="float: left;" class="mx-5">
            <!--adresse-->
            <div>
                <h5 class="card-subtitle"> Adresse : </h5>
                {{client.adresse.numero}}, {{client.adresse.rue}} <br>
                {{client.adresse.codePostal}} {{client.adresse.localite}} <br>
                {{client.adresse.pays}}

            </div>
        </div>
    </div>

    <!--====== footer du panel ======-->
    <div>
        <button class="btn btn-primary float-right mr-4 mb-4" (click)="editClient(client.idClient)">
            Edit
        </button>
        <button class="btn btn-primary float-right mr-4 mb-4" (click)="deleteClient(client)">
            Delete
        </button>
    </div>

</div>



<!--===========================================================-->
<!--=========== Biens immobilier associés =====================-->
<!--===========================================================-->
<div class="card shadow mb-4" style="width: 95%; margin: auto;" *ngFor="let bien of client.listeContrat">
    Liste des contrats


</div>

<div class="card shadow mb-4" style="width: 95%; margin: auto;" *ngFor="let bien of client.listeVisites">
    Liste des visites

</div>