<h1 style="color: #d49625;margin: 1rem 0 2rem 4rem;font-weight: bold;">Client</h1>

<h2 style="color: #333333;margin: 1rem 0 2rem 6rem;">Fiche d'un client</h2>

<div class="card shadow mb-4" style="width: 97.5%; margin: auto;">

    <div class="panel">

        <!--============= header du panel =============-->
        <div class="panel-heading">
            <h3 class="panel-title">
                {{client.nom}}
            </h3>
        </div>

        <!--============= body du panel =============-->
        <div class="panel-body">
            <div class="col-xs-10">
                <div class="row vertical-align">
                    <!--+++ details employe +++-->
                    <!--tel1-->
                    <div class="row">
                        <div class="col-xs-6">
                            Téléphone :
                        </div>
                        <div class="col-xs-6">
                            {{client.telephone}}
                        </div>
                    </div>
                    
                    <br>
                    <!--adresse-->
                    <div class="row">
                        <div class="col-xs-6">
                            Adresse :
                        </div>
                        <div class="col-xs-6">
                            {{client.adresse.toString()}}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--====== footer du panel ======-->
        <div class="panel-footer">
            <button class="btn btn-primary" (click)="editClient(client.idClient)">
                Edit
            </button>
            <button class="btn btn-primary" (click)="deleteClient(client)">
                Delete
            </button>
        </div>

    </div>

</div>

<!--===========================================================-->
<!--=========== Biens immobilier associés =====================-->
<!--===========================================================-->
<div class="panel panel-primary" *ngFor="let bien of client.listeContrat">
Liste des contrats


</div>

<div class="panel panel-primary" *ngFor="let bien of client.listeVisites">
    Liste des visites
    
</div>