<nav class="navbar" style="background-color: #df4937;padding: 0; ">
    <div style="background-color: #962d21;">
    <a style="color:#ededed;margin: 0.25rem 2rem 0.5rem 2rem;" class="navbar-brand" >
      <img src="../assets/images/building.svg" width="30" height="30" class="d-inline-block align-top" loading="lazy">
      Nom Agence
    </a>
  </div>
  <!--<div *ngIf="loginService.isUserLoggedIn()">-->
    <div class="nav-item dropdown" style="color:#333333;font-size:1.5rem;">
      <a  style="color:#333333;" class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Biens Immobilier</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" routerLink="list/classeStandard">Classe Standard</a>
        <a class="dropdown-item" href="#">Test</a>
        <a class="dropdown-item" href="#">TEst</a>
      </div>
    </div>
    <a style="color:#333333;font-size:1.5rem;" class="nav-link" (click)=viewProprietaire()>Propriétaires</a>
    <a style="color:#333333;font-size:1.5rem;" class="nav-link" (click)=viewClient()>Clients</a>
    <a style="color:#333333;font-size:1.5rem;" class="nav-link" routerLink="list/contrat">Contrats</a>
    
    <a style="color:#333333;margin-right: 10rem;font-size:1.5rem;" class="nav-link" routerLink="list/visite">Visites</a>
<!--</div>-->
  </nav>
