<div class="panel panel-primary" *ngFor="let proprio of proprietaire">

    <!--============= header du panel =============-->
    <div class="panel-heading">
        <h3 class="panel-title">
            {{proprio.nom}}
        </h3>
    </div>

    <!--============= body du panel =============-->
    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row vertical-align">
                <!--+++ details employe +++-->
                <!--tel1-->
                <div class="row">
                    <div class="col-xs-6">
                    Téléphone prive :
                    </div>
                    <div class="col-xs-6">
                        {{proprio.telPrive}}
                    </div>
                </div>
                <!--tel2-->
                <div class="row">
                    <div class="col-xs-6">
                        Téléphone pro :
                    </div>
                    <div class="col-xs-6">
                        {{proprio.telTravail}}
                    </div>
                </div>
                <br>
                <!--tel2-->
                <div class="row">
                    <div class="col-xs-6">
                        Adresse :
                    </div>
                    <div class="col-xs-6">
                        {{proprio.adresse.toString()}}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--====== footer du panel ======-->
    <div class="panel-footer">
        <button class="btn btn-primary" (click)="editProprietaire(proprio.idProprietaire)">
            Edit
        </button> 
        <button class="btn btn-primary" (click)="deleteProprietaire(proprio)">
            Delete
        </button>
    </div>

</div>

<!--===========================================================-->
<!--=========== Biens immobilier associés =====================-->
<!--===========================================================-->
<div class="panel panel-primary" *ngFor="let bien of proprietaire.listeBienImmobilier">

    

</div>